<meta name="viewport" content="width=device-width, initial-scale=1.0"> 


<div class="row" >
            
    <div class="column" >

        <img src="images/0.jpg" width="80%">
        
      <h2><b>MQIKELA SINAZO</b></h2>
      <h5> User Experince Designer|Web Developer| </h5>
      <h4>Address</h4>
      <p>Hostel1 Block 1 Room 28B <br> Sebokeng<br> 1983<br>
      </p>
      
      <h4>Contacts</h4>
      <p>0710738812<br>mqikelasinazo@gmail.com</p>
      <h4>Date Of Birth</h4>
      <p>1994-04-05</p>
      <h4>Languages</h4>
      <p>English <br>Xhosa<br>Zulu<br> </p>
    </div>

    <div id="columns" >
      <h3>Objectives</h3>
      <p>Obtain Mobile Developer position where i can mazimize my skills and grow my career</p>
      <h3>Education</h3>
      <p>
          Matric 2011<br>
        <b> 2012-2017</b> <br>
          <b>Walter Sisulu University</b><br>
          Bsc Computer Science<br> </p>
          <p>
          <b>July-August2017</b><br> 
          <b>Host Walter Sisulu University<br></b>
          Mobile Application Development Student Mastery Award Certificate
      </p>
    <h3>Proffesional Skills</h3>
    <p>Programming in C++ and JAVA; Data Structures in C++; HTML5 and CSS3; PHP; Project
         Management, Apache, database Design, iOS app, JavaScript; Linux and Windows OS; 
         MS (Excel, Word, Access, PowerPoint);MySQL; MVC; Android Studio, IBM Work light
          Studio,Apache Cordova, Dojo, Mobile toolkit.</p>
          <p>
                Use Mathematics and Statistics to help develop solutions to practical problems follow
                complex mathematical and statistical arguments and to develop brief arguments of
                your own work with mathematical and statistical computer software packages find,
                extract and analyze data from many sources communicate mathematical and statistical
                information effectively manage your time and employ good organizational skills work
                 with patience and persistence.

          </p>
          <h3>Work Experience</h3>
          <p>
              <b>February 2018 -march 2018</b><br>
              <b>Tshimologong Prestich<br></b>
              UX Designer
              
          </p>
          <p>
              <b>May 2016 - October 2016 </b><br>
              <b>Walter Sisulu University<br></b>
              Student Project System
              
            </p>
            <h3>Hobbies</h3>
            <div class="para" >
                    <p>
                            <img src="images/laptop.png" width="20" height="20" >New Technologies<br>
                              
                           <img src="images/photo.png" width="20"height="20" >Photograph<br>
               
                           <img src="images/clothes-hanger.png" width="20"height="20" >Fashion Activities
               
                           </p>

            </div>

            <h3>References</h3>
            <p>
            <li>Prof W. Sinkala (Head of Department)</li>
               &emsp;Walter Sisulu University (NMD campus)<br>
                &emsp;0475022413/2454 /0768925617<br> 
                &emsp;wsinkala@wsu.ac.za 
 
           <li> Mr. C Kabuya (Lecturer)</li>
&emsp;Walter Sisulu University (NMD campus)<br>
&emsp;0718744489<br>
&emsp;Chrispin.kabuya@gmail.com <br>

 <li>Angelina Raseroka (IBM South African Agent) </li>
 &emsp;angelras@za.ibm.com 

<li>Kim Mukenge Chulu Amina Arnauda (Facilitator) </li>
&emsp;Tshimologong Prestich<br>
&emsp;0729976804<br>
&emsp;kimardamina@gmail.com<br>
</p>

<div class="custom-footer-spacing">
    <p>&copy; 2018 Mqikela Sinazo  All Right Resevered
       <a href="https://www.linkedin.com/in/sinazo-mqikela-a1237010a/" >   <br><img src="images/linkedin.png" width="20" height="20"  > </a>
    </p>
  </div>
</div>      
    </div>
  